
@{
    ViewData["Title"] = "dashboard";
    Layout = "_Layout";
}
<div class="col-lg-12">
    <button type="button" class="btn btn-primary mt-2 mb-2 pl-5 pr-5" onclick="ModalAddAccount()">Add Account</button>
</div>
<div class="container mt-5 p-2 border">
    <table class="table table-striped table-hover" id="dataTable">
        <thead>
            <tr>
                <td></td>
                <td>Username</td>
                <td>Email</td>
                <td>Role</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>

    </table>
</div>


<div class="modal" tabindex="-1" role="dialog" id="account">
    <div class="modal-dialog modal-lg" role="document">

        <form id="form_account" class="needs-validation" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required />
                                <input type="hidden" class="form-control" name="id" id="id" />
                                <div class="invalid-feedback" id="message_name">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mitra Name</label>
                                <input type="text" class="form-control" name="mitra_name" id="mitra_name" placeholder="Mitra Name" required/>
                                <div class="invalid-feedback" id="message_mitra_name">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" required/>
                                <div class="invalid-feedback" id="message_phone">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required />
                                <div class="invalid-feedback" id="message_username">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email" required/>
                                <div class="invalid-feedback" id="message_email">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 password">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required />
                                <div class="invalid-feedback" id="message_password">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Role</label>
                                <select class="form-control" id="role" required>
                                    <option selected disabled>...</option>
                                    <option value="2">Admin</option>
                                    <option value="1">SuperAdmin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" id="status" required>
                                    <option selected disabled>...</option>
                                    <option value="1">Active</option>
                                    <option value="2">Expired</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="SubmitInsert" onclick="SubmitAddAccount()">Add Account</button>
                    <button class="btn btn-primary" type="submit" id="SubmitUpdate" onclick="SubmitUpdateAccount()">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>


</div>
@section Scripts{
    <script src="~/account/index.js" asp-append-version="true"></script>
}